* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
  }
  
  body,
  html {
    background-color: #f9f9f9;
    padding: 0;
    margin: 0;
    font-size: 8px;
  }
  
  #products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0px auto;
    width: 100%;
    max-width: 1300px;
  }
  
  #products a {
    text-decoration: none;
    color: inherit;
  }
  
  #products .product {
    width: 250px;
    background-color: #fff;
    border-radius: 0.75rem;
    -webkit-box-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    box-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    padding: 10px;
  }
  
  #products .product__title {
    font-size: 1.75rem;
    font-weight: 600;
  }
  
  #products .product__price {
    font-size: 1.65rem;
  }
  
  #products .product__image {
    width: 100%;
    height: 240px;
    overflow: hidden;
    padding: 2rem;
  }
  
  #products .product__image img {
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
  
  form {
    width: 560px;
    margin: 2rem auto;
    background: white;
    padding: 10px;
    -webkit-box-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    box-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    border-radius: 0.75rem;
  }
  
  form .form__group {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  form .form__group label {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  form .form__group input {
    padding: 10px;
    border-width: 1px;
    border-color: #d1d5db;
    border-style: solid;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 1.25rem;
    border-radius: 0.75rem;
  }
  
  form .form__group button {
    width: auto;
    padding: 1.25rem 2rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0px;
    border-radius: 0.75rem;
    -webkit-transition: background-color, border-color, color, fill, stroke,
      opacity, -webkit-box-shadow, -webkit-transform;
    transition: background-color, border-color, color, fill, stroke, opacity,
      -webkit-box-shadow, -webkit-transform;
    transition: background-color, border-color, color, fill, stroke, opacity,
      box-shadow, transform;
    transition: background-color, border-color, color, fill, stroke, opacity,
      box-shadow, transform, -webkit-box-shadow, -webkit-transform;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    cursor: pointer;
    background-color: #53c6c6;
    color: white;
    font-weight: 600;
  }
  
  form .form__group button:hover {
    background-color: #39acac;
  }
  